/* COMMON */

body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    height: 70px;
}
.mobile-logo {
    width: 50px;
    height: 50px;
}

.fa-list,
.fa-circle-question,
.fa-ellipsis-vertical {
    color: #5b5858;
}
.fa-bell {
    color: #ff8f00;
}
/* Main */
.main-container {
    width: 100vw;
    height: calc(100vh - 70px);
}
/* Left sidebar */
.sidebar {
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}
ul li:hover {
    background-color: rgba(191, 184, 184, 0.8);
    border: 1px currentColor;
}
/* Right-side */
.right-side-top {
    background-color: #1b72e8;
}

.right-side-top .rr-badge {
    background-color: rgba(0, 0, 0, 0.2);
}
.avatar {
    width: 20px;
}
.rr-button {
    color: #6c757d;
    border: 1px solid #6c757d;
}
.rr-table-border {
    border: 1px solid lightgray;
}
/*************************************************
   RESPONSIVE
 *************************************************/

@media screen and (min-width: 992px) {
    /* Main */
    .sidebar {
        width: 150px;
    }
    .rr-offcanvas {
        max-width: 50%;
    }
  
}