/* COMMON */

body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    height: 70px;
}
.mobile-logo {
    width: 50px;
    height: 50px;
}

.fa-list,
.fa-circle-question,
.fa-ellipsis-vertical {
    color: #5b5858;
}
.fa-bell {
    color: #ff8f00;
}
/* Main */
.main-container {
    height: calc(100vh - 70px);
}
/* Left sidebar */
.sidebar {
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}
/* Right-side */
.right-side-top {
    background-color: #1b72e8;
}
.right-side-bottom {
    background-color: green;
}

.right-side-top .rr-badge {
    background-color: rgba(0, 0, 0, 0.2);
}
/*************************************************
   RESPONSIVE
 *************************************************/

@media screen and (min-width: 992px) {
    /* Main */
    .sidebar {
        width: 150px;
    }
    .rr-offcanvas {
        max-width: 50%;
    }
}